@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    @{
        try {
            WebMail.SmtpServer = "leaf.arvixe.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = false;
            WebMail.UserName = "brad@lubbockwinestest.com";
            WebMail.Password = "mskid001";
            WebMail.From = "brad@lubbockwinestest.com";
            
            WebMail.Send("brad@lubbockwinestest.com", "Email submission",
                Model.Name + " sent you an email");
        } catch (Exception) {
            @:<b>Sorry we couldn't send the email to confirm</b>
    }
    }
</body>
</html>
